header {
  background-image: flowersmc.png;
  text-align: center;
  font-size: large;
}

.nav {
  background-color: rgb(77, 43, 15);
  overflow: hidden;
}

body {
  background-color: rgb(253, 229, 147);
  color: black;
  font-size: 40px;
}

