header {
  background-image: url("flowersmc.png");
  background-size: fixed;
  text-align: center;
  font-color: #3d1705;
  font-size: xx-large;
}

.nav {
  background-color: rgb(66, 33, 11);
  overflow: hidden;
}

.nav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.nav a:hover {
  background-color: rgb(204, 116, 8);
  color: rgb(199, 169, 133);
}

.nav a.active {
  background-color: rgb(204, 116, 8);
  color: rgb(199, 169, 133);
}

body {
  background-color: rgb(253, 229, 147);
  color: black;
  font-size: 30px;
}
.image1{
  margin-left: 5em;
  margin-right: 5em;
}
img {
  padding: 10px;
  width: 400px;
  padding-bottom: 20px;
}

.bttm {
  background-color: rgb(245, 185, 100);
  font-size: 13px;
}
