header {
  background-image: url("flowersmc.png");
  background-size: fixed;
  text-align: center;
  font-color: rgb(59, 20, 5);
  font-size: xx-large;
}

.nav {
  background-color: rgb(66, 33, 11);
  overflow: hidden;
}

.nav a {
  float: left;
  color: rgb(186, 167, 60);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.nav a:hover {
  background-color: rgb(204, 116, 8);
  color: rgb(237, 227, 211);
}

body {
  background-color: rgb(253, 229, 147);
  color: black;
  font-size: 20px;
  margin-left: 50px;
  margin-right: 50px;
}

img {
  padding: 10px;
  width: 400px;
  padding-bottom: 20px;

  figure {
    border: 1px #cccccc solid;
  padding: 4px;
  margin: auto;
  }

 figcaption{
    font-size: 5px;
    font-color: rgb(74, 72, 63);
  }
  
.bttm {
  background-color: rgb(245, 185, 100);
  font-size: 13px;
}
